{% load static%}


<html>
    <head>
        <title>Página Electroestimulador</title>
        <link rel="shotcut icon" type="image/x-icon" href="static/icono_alternativo.ico" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'estilo_pagina_inicio.css' %}">
        <link rel="stylesheet" href="{% static 'estilo_gestion.css' %}">  
       
    </head>

    <body>
        <header>
                
            <div>
                <img src="{% static 'logo_alternativo.jpg' %}" width="100">
                <!--<img src="static/logo_alternativo.jpg" width="100">-->
            </div>
            <nav>
                <ul>
                    <li> <a href="{% url 'pagina_inicio' %}"> <h3>Inicio</h3> </a>  </li>
                    <li> <a href="/revisar/"> <h3>Revisar usuarios</h3> </a> </li>
                    <li> <a href="/gestion"> <h3>Gestionar usuarios</h3> </a> </li>
                    <li> <a href="/admin"> <h3>Administrar</h3>  </a> </li>
                </ul>
            </nav>
        </header>

        

        <!--<section class="wrapper">-->
        <section class="main">
            <section class="articles">
                <h3>Artículos de interés</h3>
                <article>
                    
                    <h4> An effective long-term treatment option for patients suffering from endometriosis-associated pain.</h4>
                    <br>
                    Bi and Xie, researchers from The Yan’an People’s Hospital, recently published the results of their retrospective study titled “Effect of neuromuscular electrical stimulation for endometriosis-associated pain” in Medicine. The study hoped to elucidate the effects of using a complementary and alternative medicine, namely neuromuscular electrical stimulation (NMES), for the treatment of endometriosis-associated pain (EAP).
                     <!-- There were 83 patients with EAP in the treatment group and these participants underwent NMES therapy. There were 71 patients with EAP in the control group and they did not undergo NMES therapy. The researchers used a numerical rating scale (NRS) and the Endometriosis Symptom Severity scale (ESSS) to judge the primary objective, which was pain. They also used the 36-Item Short Form Health Survey (SF-36) to judge the quality of life, which was the secondary objective. The aforementioned outcomes and any extraneous adverse events were measured for each patient before and after 5 weeks and 10 weeks of treatment. 
                    The researchers saw no difference in the primary or secondary outcomes between the two groups at the 5-week time point; however, the experimental group had better NRS, ESSS, and SF-36 scores after the 10-week time point. There were no significant differences in adverse events between the control and experimental group. The NMES group did experience some mild to acceptable adverse events. Overall, the researchers concluded that the NMES therapy is an effective treatment option for patients suffering from EAP.
                    -->
                </article>
                    
                <article>
                    <h4>Electrical Nerve Stimulation for Arthritis Pain</h4>
                    <br>
                    If you’ve lived with arthritis for any length of time, your doctor has undoubtedly talked you through a menu of pain-relief options. Medicines you rub on your skin or take by mouth, injections, physical therapy, heat, cold, and acupuncture are just a few of the ways to make your arthritis more bearable. Yet you may still be searching for relief.
                    Nerve stimulation – or neuromodulation – is an alternative to medication for treating arthritis pain. 
                    <!--
                    “It’s the principle of using electricity to decrease pain sensations,” says Robert Bolash, MD, assistant professor of anesthesiology in the department of pain management at the Cleveland Clinic. For some people, neuromodulation treatments can ease pain with minimal risks, he says.
                    These devices are generally safe. However, they involve sending electrical impulses though your body. So it’s important to talk with your doctor first if you have a pacemaker, another implanted device, are pregnant, have epilepsy, or have a heart problem.
                    -->
                </article>
                
            </section>

            <aside>
                <h4> How to use the electrodes</h4>
                   <!-- Aquí encuentras una imagen ilustrativa -->
                    <div>
                        <img src="static/ubicacion_electrodos.jpg" width="150">
                    </div>
                    Guía de uso

                 
            </aside>
        </section>

        <footer>
            <p>Estos son los datos de contacto </p>
        </footer>


    </body>

</html>