
{% extends 'base.html' %}
{% load static %}

{% block content %}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Revisar Ciclos de Esterilización</li>
</ol>

    <small >
        <div class="card mb-3">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sm dataTable" id="" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 50%;margin: auto">
                        <thead >
                            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 40%;">Metadato</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 60%;">Valor</th>
                        </thead>
                        <tbody>
                        <tbody>
                            
                        <tbody>                            
                            
                            {% for clave, valor in metadatos %}
                            <tr>
                                <td scope="col"> {{clave}} </td>
                                <td scope="col"> {{valor}}</a> </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Area Chart Example-->
                <div class="card mb-3">
                    <div class="card-header">
                    <i class="fas fa-chart-area"></i>
                    Regitro de presion y temperatura</div>
                    <div class="card-body">
                        <canvas id="grafica" width="100%" height="30"></canvas>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
  
            </div>
        </div>
    </small>



{% endblock %}


{% block sb_admin_custom_js %}

<script>
    // Pass the 'temperaturas' and 'presiones' array to a global variable accessible by graficar.js
    var temperaturas = JSON.parse('{{ temperaturas|escapejs }}');
    var presiones = JSON.parse('{{ presiones|escapejs }}');
</script>

    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <script id="graficar.js" src="{% static 'examinar/graficar.js' %}" ></script>

    chart.datasets.label= 'etiqueta';

    chart.update();


{% endblock sb_admin_custom_js %}
